<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      About me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hi, I'm Adrián</ion-card-subtitle>
      <ion-card-title>Web Developer | Full Stack Developer</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Soy un apasionado desarrollador web con experiencia en diversas tecnologías y frameworks.
        Mi enfoque principal es el desarrollo front-end.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tecnologías Usadas</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Tecnologías:</ion-label>
          <ion-note>
            <ion-chip>HTML</ion-chip>
            <ion-chip>CSS</ion-chip>
            <ion-chip>JavaScript</ion-chip>
            <ion-chip>Angular</ion-chip>
            <ion-chip>TypeScript</ion-chip>
            <ion-chip>Node.js</ion-chip>
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Frameworks</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Frameworks:</ion-label>
          <ion-note>
            <ion-chip>Angular</ion-chip>
            <ion-chip>Bootstrap</ion-chip>
            <ion-chip>Springboot</ion-chip>
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Perfil GitHub:</ion-label>
        <ion-note>
          <a href="https://github.com/RSAdrian9" target="_blank">
            <ion-icon name="logo-github"></ion-icon>
            RSAdrian9
          </a>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-card-content>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Perfil Linkedin:</ion-label>
        <ion-note>
          <a href="https://www.linkedin.com/in/adrián-ruiz-sánchez-b89756222/" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon>
            Adrián Ruiz
          </a>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-card-content>

</ion-content>
