<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      About me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Card de Información Personal -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hi, I'm Adrián</ion-card-subtitle>
      <ion-card-title>Web Developer | Full Stack Developer</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Soy un apasionado desarrollador web con experiencia en diversas tecnologías y frameworks.
        Mi enfoque principal es el desarrollo front-end.
      </p>
    </ion-card-content>
  </ion-card>

  <!-- Card de Tecnologías Usadas -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tecnologías Usadas</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Tecnologías:</ion-label>
          <ion-note>
            <ion-chip>HTML</ion-chip>
            <ion-chip>CSS</ion-chip>
            <ion-chip>JavaScript</ion-chip>
            <ion-chip>Angular</ion-chip>
            <ion-chip>TypeScript</ion-chip>
            <ion-chip>Node.js</ion-chip>
            <!-- Agrega más chips según sea necesario -->
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Card de Frameworks -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Frameworks</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Frameworks:</ion-label>
          <ion-note>
            <ion-chip>Angular</ion-chip>
            <ion-chip>Bootstrap</ion-chip>
            <ion-chip>Springboot</ion-chip>
            <!-- Agrega más chips según sea necesario -->
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Puedes agregar más cards según sea necesario -->
</ion-content>
